.imageupload{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    max-width: 480px;
    background-color: white;
    border: 1px solid lightgray;
}

.upload{
  font-weight: bold;
  font-size: 13px;
  padding: 10px 30px;
  border-radius: 8px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  color: white;
  background-color: #77c0e9;
  border: none;
}